<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" name="Suite">
  <test thread-count="2" name="Test">
    <classes>
      <class name="MiniRestApiProject.MiniRestApiProject.GET_All_Games"/>
      <class name="MiniRestApiProject.MiniRestApiProject.GET_Single_Game"/>
      <class name="MiniRestApiProject.MiniRestApiProject.Post_New_Game"/>
      <class name="MiniRestApiProject.MiniRestApiProject.BaseClass"/>
      <class name="MiniRestApiProject.MiniRestApiProject.Update_a_Game"/>
      <class name="MiniRestApiProject.MiniRestApiProject.Delete_Game"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
